@font-face{
  src:url('./headliner.ttf');
  font-family:'headliner';
}
html{
  font-size:16px;
}
body{
  background-color:#222;
  color:white;
}
.App {
  text-align: center;
}

/* HEADER */
.App-header {
  background-image:url('./img/map.png');
  background-position: center;
  background-size: 150%;
  background-color: rgb(50,50,50);
  color: white;
}
#header-cover{
  background-color: rgba(50,50,50,.7);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#top-accent{
  background-color: rgb(255,133,0);
  min-height:1.5rem;
}
#bottom-accent{
  background-color: rgb(255,133,0);
  min-height:.5rem;
}
#subtitle{
  font-size: .8rem;
  margin-top:0;
  color:yellow;
}


ul{
  padding:0;
  margin:0;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
li{
  list-style: none;
}
.region-li{
  padding:.5rem;
}
.platform-item{
  padding:.5rem;
}
h1{
  font-size: 5rem;
  font-family: 'headliner';
  font-weight: 400;
  letter-spacing:;
  color: yellow;
  margin:0;
}
#search-input{
  box-sizing: border-box;
  border: none;
  height:100%;
  padding:.3rem;
}
#search-button{
  color:black;
  background-color:yellow;
  border-style: none;
  box-sizing:border-box;
  height: 100%;
  padding:.3rem;
  margin:0;
}
#search-container{
  margin: 1rem 0;
  height:2rem;
  box-sizing: border-box;
}
#search-form{
  height:100%;
  box-sizing: border-box;
}
.li-active{
  background-color:yellow;
}

/* Game Mode Stats */
.mode{
  width:100%,auto;
  box-sizing: border-box;
}
.section-header{
  background-color: grey;
  color:white;
  padding:.1rem;
}
.stats-container{
  background-color: rgb(157,157,157);
  padding: 1rem;
}
h4{
  margin:.5rem;
  text-align: left;
}
#header-logo{
  margin-top:.5rem;
}


/* CHARTS */
#total-wins-chart{
  width:100%;
  max-height: 5rem;
}
