@font-face{
  src:url('./headliner.ttf');
  font-family:'headliner';
}
html{
  font-size:16px;
}
body{
  background-color:#222;
  color:white;
}

/* COLORS */
.bg-orange{
  background-color: #ffc485;
}
.bg-purple{
  background-color: #ff8af9;
}
.bg-green{
  background-color: #87ff91;
}

/* HEADER */
.App-header {
  background-image:url('./img/map.png');
  background-position: center;
  background-size: 150%;
  background-color: rgb(50,50,50);
  color: white;
  text-align: center;
}
#statboi-img-container{
  max-width: 4rem;
  max-height: 4rem;
  margin-right:0;
  box-sizing: border-box;
}
#statboi-img{
  width:100%;
  height:100%;
}
#header-cover{
  background-color: rgba(62, 117, 117, 0.32);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#top-accent{
  background-color: rgb(46, 46, 46);
  min-height:.5rem;
  padding:.8rem;
  display:flex;
  justify-content: space-between;

}
#bottom-accent{
  background-color: rgb(46, 46, 46);
  min-height:2rem;
}
#subtitle{
  font-size: .8rem;
  margin-top:0;
  color:yellow;
  text-shadow: 2px 2px 5px black;
}

/* NAV */
#nav{
  background-color: rgba(17, 17, 17, 0.4);
  padding: .5rem 0;
  font-size: .8rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.43);
}
#nav-links{
  display:flex;
  justify-content: flex-start;
}
.nav-link{
  padding: 0 .7rem;
}
.nav-active{
  color: yellow;
}

ul{
  padding:0;
  margin:0;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#pc-region-list{
  font-size: 1rem;
  color:rgb(170, 170, 170);
  background-color:rgb(80, 80, 80);
  font-weight:bold;
  padding:.3rem;
}
#xbox-region-list{
  font-size: 1rem;
  color:rgb(170, 170, 170);
  background-color:rgb(80, 80, 80);
  font-weight:bold;
  padding:.3rem;
}
li{
  list-style: none;
}
.region-li{
  padding:.5rem;
}
.platform-item{
  padding:.5rem;
  font-weight: bold;
}
.selected{
  background-color: yellow;
}
h1{
  font-size: 5rem;
  font-family: 'headliner';
  font-weight: 400;
  letter-spacing:;
  color: yellow;
  margin:0;
}
#search-input{
  box-sizing: border-box;
  border: 3px solid rgb(153, 153, 153);
  background-color:rgb(255, 255, 255);
  height:100%;
  padding-top:.3rem;
  padding-bottom:.3rem;
  padding-left:.8rem;
  width:60%;
  font-size: 1rem;
  font-weight:bold;
}
#search-button{
  color:black;
  background-color:yellow;
  border-style: none;
  box-sizing:border-box;
  height: 100%;
  padding:.3rem;
  margin:0;
  width:20%;
}
#search-container{
  margin: 1rem 0;
  height:4rem;
  box-sizing: border-box;
}
#search-form{
  height:100%;
  box-sizing: border-box;
}
input::placeholder{
  color:rgb(194, 194, 194)
}
.li-active{
  background-color:yellow;
}

/* USER */
#user-page{
  box-sizing: border-box;
  overflow:auto;
}
#user-info{
  background-color:rgb(124, 124, 124);
  box-sizing: border-box;
  overflow: auto;
}
.avatar{
  height:2rem;
  width:2rem;
}
#avatar-holder{
  height:2rem;
  width:2rem;
}
#name-container{
  overflow: auto;
  padding-top:.5rem;
}
#player-name{
  font-family: "Righteous";
  box-sizing:border-box;
  text-align: left;
  margin-top:1rem;
  margin-left:1rem;
  font-size: 3rem;
  letter-spacing: -.1rem;
  font-weight:400;
  text-shadow:5px 5px 10px black;
}
#options{
  margin-left:1rem;
}
#season-select{
  border: 2px solid rgb(139, 139, 139);
  padding:.3rem;
  font-size: 1rem;
  background-color: rgb(68, 68, 68);
  color:rgb(159, 159, 159);
  font-weight: bold;
}
#player-region{
  display:inline-block;
  color:rgb(80, 80, 80)
}
#stats-matches-changer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom:.5rem;
}
#overview{
  padding-left:1rem;
  padding-right:1rem;
  background-color:rgb(82, 82, 82);
  overflow:auto;

}
#overview-title{
  text-align: center;
  font-family: "Righteous",cursive;
  text-shadow: 5px 5px 10px black;
}
#overview-stat-container{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap: wrap;

}
.overview-stat-container{
  width:50%;
  text-align: center;
  margin-top:3rem;
}
.stat-margin{
  margin-top:.3rem;
  margin-bottom:.3rem
}
/* Game Mode Stats */
#wins{
  overflow:auto;
}
#gold-medal-container{
  height:8rem;
  text-align: center;
}
#gold-medal{
  overflow: auto;
  max-width:100%;
  max-height:100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.64));
}
.overview-stat{
  font-family: "Righteous",cursive;
  font-size:1.4rem;
  color:rgb(255, 255, 255);
}
.stat-grey{
  color:rgb(172, 172, 172);
}

#boxing-gloves{
  height:8rem;
  filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.64));
}
.solo-icon{
  background-image: url('./img/avatar.svg');
  width:20px;
  height:20px;
  background-size: 20px 20px;
  display: inline-block;
  margin-right:.4rem;
}
.mode{
  width:100%,auto;
  box-sizing: border-box;
}
.section-header{
  color:black;
  padding:.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.stats-container{
  background-color: rgb(157,157,157);
  padding: 1rem;
}
h4{
  margin:.5rem;
  text-align: left;
}
#header-logo{
  margin-top:.5rem;
  text-shadow: 5px 5px 10px black;
}
.stat-grid{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.grid-kdr{
  grid-row: 1/3;
}
.grid-unit{
  padding:.5rem;
}
.stat-total{
  font-family: "Righteous",cursive;
  font-weight:bold;
  font-size: 2rem;
}
.stat-subtitle{
  color:rgb(208, 208, 208)
}
.fpp-bold{
  font-family:"Righteous",cursive;
  color:rgb(0, 0, 0);
  font-weight: bold;
}
.mode-bold{
  font-family:"Righteous",cursive;
  font-weight:bold;
  font-style: italic;
  color:black;
  text-shadow:2px 2px rgba(255, 255, 255, 0.55);
}
.rounds-played{
  font-family: "Righteous",cursive;
  font-size: 1.4rem;
}
#modes{
  text-align: center;
  font-family: "Righteous",cursive;
  font-size: 1.4rem;
  margin:0;
  background-color: rgb(68, 68, 68)
}


/* CHARTS */
#total-wins-chart{
  width:100%;
  max-height: 5rem;
}
#chart-container{
  min-width:10rem;
  min-height:10rem;
}
.ct-chart-donut{
  filter:drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.64));
}
.ct-series-a{
  fill:rgb(109, 246, 92);

}
.ct-series-b{
  fill:rgb(255, 218, 107);
}

.ct-label{
  display:none;
}
#win-top-ratio{
  font-family: "Righteous",cursive;
  font-weight:bold;
}
#win-percent{
  font-family: "Righteous",cursive;
  font-weight:bold;
  color:
}
