@font-face{
  src:url('./headliner.ttf');
  font-family:'headliner';
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  background-color:#222;
  color:white;
}
ul{
  padding:0;
  margin:0;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
li{
  list-style: none;
}
h1{
  font-size: 40px;
  font-family: 'headliner';
  letter-spacing:.5rem;
  color:yellow;
}
#search-input{
  box-sizing: border-box;
  border: none;
  height:100%;
  padding:.3rem;
}
#search-button{
  color:black;
  background-color:yellow;
  border-style: none;
  box-sizing:border-box;
  height: 100%;
  padding:.3rem;
  margin:0;
}
#search-container{
  margin-top: 2rem;
  height:2rem;
  box-sizing: border-box;
}
#search-form{
  height:100%;
  box-sizing: border-box;
}
